{% extends "layout.njk" %}

{% block head %}
    <title>Receitas Foodfy</title>
{% endblock %}


{% block content %}
    <main class="recipes">

        <div class="content">

            <div class="recipe-cards">
                {% for recipe in recipes %}
                <div class="card" id="{{recipes.indexOf(recipe)}}">

                    <div class="card-image">
                        <img src="{{recipe.image}}" alt="">
                    </div>

                    <div class="card-content">
                        <p class="title">{{recipe.title}}</p>
                        <p class="author">{{recipe.author}}</p>
                    </div>

                </div>
                {%endfor%}
            </div>

        </div>
    </main>
<script src="./scripts.js"></script>

{% endblock %}