{% extends "layout.njk" %}
{% block header %}
    <header id="admin">
      <div>
      <a href="/admin/recipes"><img src="/../assets/logowhite.png" alt="Foodfy logo"></a>
      </div>
    </header>
{% endblock %}
{% block content %}
<main>

<form action="/admin/recipes" method="post" class="edit-create">
  <div class='form-title'>
    <h2>Criando receita</h2>
    <div class="buttons">
      <button class="save" type="submit">Salvar receita</button>
    </div>
  </div>
  
  {% include "./fields.njk" %}
  
</form>

</main>
<script src="/../../../add.js"></script>
{% endblock content %}
{% block footer %}{% endblock %}