
<div class="title">Imagem da receita</div>
<input type="url" name="image" value="{{recipe.image}}">
<div class="title">Título da receita</div>
<input type="text" name="title" value="{{recipe.title}}">
<div class="title">Autor</div>
<input type="text" name="author" value="{{recipe.author}}">
<div class="title">Ingredientes</div>
<div id="ingredients">
  {% for ingredient in recipe.ingredients %}
    <div class="ingredient">
      <input type="text" name="ingredients[]" value="{{ ingredient }}">
    </div>
  {% endfor %}
  {% if recipe.ingredients == undefinied %}
    <div class="ingredient">
      <input type="text" name="ingredients[]" value="{{ ingredient }}">
    </div>
  {% endif %}

</div>
<button type="button" class="add-item" onClick="addItem('#ingredients', '.ingredient')">Adicionar novo ingrediente</button>

<div class="title">Modo de preparo</div>
<div id="preparation-steps">
    {% for step in recipe.preparation %}
    <div class="preparation-step">
      <input type="text" name="preparation[]" value="{{ step }}">
    </div>
    {% endfor %}
    {% if recipe.preparation == undefinied %}
      <div class="preparation-step">
        <input type="text" name="preparation[]" value="{{ step }}">
      </div>
    {% endif %}
</div>
<button type="button" class="add-item" onClick="addItem('#preparation-steps', '.preparation-step')">Adicionar novo passo</button>
<div class="title">Informações adicionais</div>
<textarea name="information" class="information">{{recipe.information}}</textarea>
<input type="hidden" name="index" value="{{recipe.index}}">
